@page "/"

<PageTitle>Houston Mesh - Home</PageTitle>

<div class="row">
    <div class="col-xl-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h4 class="card-title">Welcome to the Houston Mesh Radio Site!</h4>
                <img src="images/houston_mesh_orange.svg" alt="HM logo" class="float-end" style="width: 50%;" />
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat commodo sed egestas egestas fringilla. At tempor commodo ullamcorper a lacus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Dui faucibus in ornare quam viverra orci sagittis eu. Eu lobortis elementum nibh tellus molestie nunc non blandit. Elementum nisi quis eleifend quam adipiscing vitae proin. Arcu non sodales neque sodales ut etiam sit amet nisl. Eu volutpat odio facilisis mauris sit amet massa vitae. Facilisis magna etiam tempor orci eu lobortis elementum. Imperdiet proin fermentum leo vel orci porta non. Duis ut diam quam nulla porttitor massa id neque aliquam. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Enim praesent elementum facilisis leo vel fringilla est ullamcorper eget. Elit sed vulputate mi sit amet mauris commodo quis imperdiet.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <ul>
            <li>What is it?</li>
            <li>Uses</li>
            <li>MQTT, a stepping stone to keep people from turning off their hardware</li>
        </ul>
    </div>
</div>

@code {

}