@page "/setup"

<PageTitle>Houston Mesh - Getting Started</PageTitle>

<h3>Getting Started</h3>

<div class="row">
    <div class="col-xl-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Houston Mesh MQTT Channel Setup</div>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">You can use these instructions to join the Houston Mesh MQTT Channel, for now:</p>
                <a href="https://meshtastic.discourse.group/t/anyone-in-houston-tx/7614/62" target="_blank" class="card-link">Meshtastic MQTT Channel Setup Instructions</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <ul>
            <li>What hardware to buy</li>
            <li>Plan use case</li>
            <li>Bluetooth only - nrf52 - best for general use - low power draw (rak 20-60 ma w/o gps)</li>
            <li>Wi-fi and bluetooth - esp32 - best for mqtt nodes - high power draw (100-200ma)</li>
            <li>Cases</li>
            <li>Buy, build, or print</li>
            <li>Initial setup</li>
            <li>Flashing</li>
            <li>Choosing your region</li>
            <li>Giving it a name</li>
            <li>What device role does what/when to use it</li>
            <li>Client - the one you should normally use - expound on why</li>
            <li>Client _Mute, like above, listen only, doesn't transmit.</li>
            <li>Router prioritized routing</li>
            <li>Router_client prioritized routing</li>
            <li>Repeater prioritized routing</li>
            <li>Tracker Just like it says on the tin.</li>
            <li>Sensor</li>
            <li>TAK</li>
            <li>Client_Hidden</li>
            <li>Lost_and_Found</li>
            <li>TAK_Tracker</li>
            <li>Prioritized routing - repeats faster than other roles to reduce unnecessary repeating - don’t use this unless you are on a tower with a high vantage point, you will transmit over the other sites, making things more congested.</li>
            <li>How to set up MQTT</li>
        </ul>

    </div>
</div>
@code {

}