@inherits LayoutComponentBase

<div class="page">
    <div class="mb-3">
        <NavMenu />
    </div>
    <main>
        <article class="content ms-3">
            <div class="row">
                <div class="col-sm-6">
                    @Body
                </div>
            </div>
        </article>
    </main>
</div>